* {
    /* background-color: rgb(178, 39, 39); */
    margin: 0;
    padding: 0;
    /* justify-content: center; */
    color: rgb(0, 0, 0);

}

body {
    background-color: rgba(255, 228, 196, 0.297);
    /* font-family: 'Times New Roman', serif;*/
    font-family: 'Lato', sans-serif;

}

header {
    display: flex;
    height: 50px;
    background-color: rgb(64, 95, 143);

}

footer {
    background-color: rgb(11, 7, 7);
    height: 34px;

}

.nav {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding-right: 80px;
    position: relative;
    left: 187px;


}

.a1 {
    margin-left: 56px;
    margin-top: 15px;
    margin-right: 29px;
    padding-bottom: 10px;
}

.a {

    display: flex;
    position: relative;
    right: 154px;
    font-size: larger;
    font-style: oblique;
    padding-top: 8px;
    color: rgb(190, 171, 31);
    font-size: x-large;
    font-weight: bolder;
}

.d1 {
    display: flex;



}

img {
    /* margin-left: 50px; */
    margin: 10px;
    /* margin-top: 50px; */
    height: 150px;
    width: 186px;
    margin-bottom: 10px;
    /* margin-right: 50px; */
}

.d31 {
    /* display: inline; */
    /* position: relative;
    right: 50px; */

    display: block;
    margin-left: 10px;
}

/* .d32 {
    display: inline;
    display: flex;
    padding-left: 0px;
} */


.d2 p {
    display: flex;
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: bold;
}

.dd {
    display: flex;
}

.d22 {

    /* display: flex; */
    margin-left: 90px;
    padding: 0 10px 10px 10px;
}

.we input {
    padding-top: 2px;
    margin-top: 10px;
    padding-left: 10px;
    height: 31px;


    margin-left: 10px;
    width: 240px;
    height: 24px;
    border: 2px solid gray;
}

.btn {
    display: flex;
    width: 60px;
    height: 20px;
    margin-left: 8px;
    margin-top: 14px;
    border-radius: 4px;
    background-color: black;
    color: aliceblue;
    border: 2px solid gray;
    padding-left: 5px;
    position: relative;
    right: 52px;
}

.btn:hover {
    background-color: aliceblue;
    color: black;
}

.fot {
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

.d2 p {
    background-color: rgba(84, 66, 128, 0.521);
    display: flex;
    margin-top: 5px;
    position: relative;
    left: 5px;

}

.lp {
    display: flex;
    justify-content: center;

}

.lp img {
    width: 94%;
    height: 30%;
}

.a p {
    color: rgb(190, 171, 31);
}

.d3 img:hover {
    cursor: pointer;

}

.a1 a:hover {
    /* background-color: rgba(176, 22, 148, 0.393); */
    color: antiquewhite;
    text-decoration: underline;
    columns: auto;
    transition-duration: 1s;
    list-style: none;

}

.mc {
    display: flex;
    position: relative;
    color: black;
    left: 48px;
    top: 7px;
    /* color: bisque; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    transition-duration: 1s;
}

.mc p {
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.mc:hover {
    color: antiquewhite;
    /* background-color: azure; */
}

.we {
    display: flex;
    position: relative;
    left: 100px;

}

.s {
    display: flex;
}

/* .i {
    display: flex;
    position: relative;
    left: 58px;
    top: 4px;
} */

.i img {
    /* display: flex; */
    display: flex;
    position: relative;
    height: 25px;
    width: 25px;
    left: 58px;
    top: 4px;
    /* background-color: black; */
}

.we img {
    display: flex;
    width: 25px;
    height: 25px;
    position: relative;
    right: 37px;
    top: 2px;
}

.a1 a {
    list-style: none;
    text-decoration: none;


}

.s h2 {
    background-color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    width: 55%;
    height: 100px;
    position: relative;
    justify-content: center;
    left: 131px;
    margin-top: -215px;
    margin-bottom: 31px;
    align-items: center;
    top: 248px;
}
.s h2:hover{
    color: rgba(193, 180, 122, 0.697);
    /* transition-duration: 1s; */
}

.d2 {
    margin-top: 18px;
    margin-bottom: 25px;
}

.d2:hover {
    background-color: rgba(156, 12, 129, 0.607);
    ;
}

.s img {
    display: flex;
    position: relative;
    left: 130px;
    /* right: 400px; */

}

/* .sss img{
    display: inline;
    position: relative;
    left: 300px;

  } */
.sh {
    width: 30%;
}

.ad1 {
    display: flex;
    height: 300px;
    width: 600px;
    /* background-color: rgba(81, 85, 85, 0.428); */
    position: relative;
    left: 50px;
}

.ad2 {
    display: flex;
    height: 300px;
    width: 600px;
    /* background-color: rgba(192, 193, 189, 0.452); */
    position: relative;
    left: 300px;
}

.d28 {
    display: flex;

}

.d28 img {
    height: 300px;
    width: 600px;
}